*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 8px 8px 0 0;
    background: white;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.4);
}
.result{
    background: black;
    color: white;
    border-radius: 8px 8px 0 0;
    padding: 25px;
    font-size: 25px;
}
.buttons{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1px;
}
.row{
    display: flex;
    justify-content: space-around;
    gap: 1px;
}
.row button{
    width: 72px;
    height: 72px;
    border-radius: 0 0 0 0;
    outline: none;
    border: none;
    font-size: 25px;
    text-align: center;
    transition: 0.2s all linear;
    background-color: lightskyblue;
}
.row button:hover{
    background-color: whitesmoke;
}
.row button:active{
    background-color: orangered;
}
#equals{
    width: 150px;
    background-color: palevioletred;
    color:brown;
}
#dot{
    font-weight:610;
}